.container
{
    maring:150px auto;
    width: 100%;
    padding: 8px;
}

img
{
    float: left;
    width: 350px;
    height: 550px;
    padding: 0 10px 0 0;
}

.text
{
    text-algin: justify;
    font-family: verdana;
}
}

    

    





